{% extends "personalapp/header.html" %}

{% block content %}
<!-- Whatever is placed here will show on the header html section that these placeholder blocks point to-->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>Hey! Welcome to my website! Well, I wasn't expecting guests. Um, my name is Dylan. I am a programmer that also likes gaming so check out my new gaming site!</p>
  </div>
</div>




{% include "personalapp/includes/htmlsnippet.html"%}

{% endblock %}
