{% block content %}
<div class="container-fluid">
  <div class="row">
  <div class="col"><br></div>
  </div>
<div class="row">
  <div class="col-sm-4"><h1>Anthem</>
    {% load static %}

            <div>  <img src="{% static 'img/anthem.jpg' %}" class="img-fluid" style='max-height:200px;' alt="Anthem Photo"></div>
    </div>
  <div class="col-sm-8"> <p>Anthem will be released on February 22, 2019. It will be developed by BioWare and published by Electronic Arts for Xbox One, PS4, and PC.
Anthem is a shared-world action-RPG, where players can delve into a vast world teeming with amazing technology and forgotten treasures. The world is also filled with savage beasts and ruthless marauders where Freelancers are called to defeat the forces plotting to conquer humanity. Up to four friends can unravel the world's mysteries and take on its most fearsome challenges together. Shared danger means shared glory, and successful Freelancers will all be richly rewarded for successful exploits. Throughout their adventure, players can outfit their Freelancers with powerful Javelin exosuits, each of which are equipped with unique weapons and abilities. Players can also customize their Javelin with gear they earn and craft throughout the adventure, and leave a lasting mark on the world.</></div>
</div>

<div class="row">
<div class="col-sm-4">Developer : Bungie</div>
<div class="col-sm-4"> Rating: Pending Release</div>
<div class="col-sm-4"> Release Date: February 22, 2019</div>
</div>

  <div class="row">
  <div class="col"><br></div>
  </div>
  <div class="row">
  <div class="col"><br></div>
  </div>

<div class="row">
  <div class="col-sm-4"><h1>Red Dead Redemption 2</>
    {% load static %}

            <div>  <img src="{% static 'img/reddead2.jpg' %}" class="img-fluid" style='max-height:200px;' alt="Anthem Photo"></div>
    </div>
  <div class="col-sm-8"> <p></p>Rockstar has announced details for the Special Edition and Ultimate Edition of Red Dead Redemption 2, and the Red Dead Redemption 2: Collector’s Box, while also reassuring fans that the content included in special editions is not part of the main game.
    All preorders of Red Dead Redemption 2 will include a War Horse and The Outlaw Survival Kit. The War Horse, previously seen in the first game, is a valiant steed with greater stamina and speed than your average horse. The Outlaw Survival Kit contains a collection of useful supplies including Dead Eye and items to replenish health.</div>
</div>

<div class="row">
<div class="col-sm-4">Developer : RockStar</div>
<div class="col-sm-4"> Rating: Pending Release</div>
<div class="col-sm-4"> Release Date: October 26, 2018</div>
</div>
<div class="row">
<div class="col"><br></div>
</div>
<div class="row">
<div class="col"><br></div>
</div>

</div>


{% endblock %}
